body {
  font-family: "Ubuntu", sans-serif;
}

.close-modal {
  background: none;
  border: none;
}

.header {
  padding: 8px 7%;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 10;
  backdrop-filter: blur(20px);
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  font-size: 0px;
  line-height: 0;
  position: relative;
  padding-right: 16px;
  height: 36px;
}

.header__left {
  float: left;
  display: inline-flex;
  align-items: center;
  gap: 20px;
}

.header__categories {
  display: inline-flex;
  align-items: center;
  gap: 20px;
}

.header__icon {
  width: 35px;
  height: 35px;
}

.header__category {
  background: transparent;
  font-size: 14px;
  font-weight: 450;
  color: #000;
  text-transform: capitalize;
}

.header__category-active {
  color: #ff6900;
}

.header__category:hover {
  color: #ff6900;
}

.header__button {
  background: #ff6900;
  color: #ff6900;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  border: none;
  padding: 0;
  width: 100px;
  height: 30px;
  border-radius: 1000px;

  span {
    color: #000;
    font-size: 14px;
    font-weight: 450;
  }
}

.header__button:hover {
  background-color: #e85a00;
}

main {
  padding: 0 7%;
  margin-top: 20px;
}

.main__title {
  color: #000;
  font-size: 24px;
  font-weight: 500;
  text-transform: capitalize;
}

.main__selects {
  display: flex;
  align-items: center;
  gap: 50px;
}

.main__select-category {
  display: flex;
  align-items: center;
  gap: 10px;

  span {
    font-size: 20px;
  }
  .limit__select {
    font-size: 16px;
    padding: 8px 8px;
    border: 2px solid #ff6900;
    border-radius: 16px;
    background: #fff;
    appearance: none;
    cursor: pointer;
  }
}

.main__select {
  display: flex;
  align-items: center;
  gap: 10px;

  span {
    font-size: 20px;
  }

  .goods__select {
    font-size: 16px;
    padding: 8px 8px;
    border: 2px solid #ff6900;
    border-radius: 16px;
    background: #fff;
    appearance: none;
    cursor: pointer;
  }
}

.main__search {
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
}

.search__input {
  padding: 10px;
  border: 1px solid #828282;
  border-radius: 20px;
}

.search__button {
  background-color: #ff6900;
  font-size: 16px;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  color: #fff;
}

.search__clear-button {
  background: rgba(255, 105, 0, 0.79);
  font-size: 16px;
  border: none;
  position: absolute;
  top: 8px;
  right: 90px;
  border-radius: 20px;
}

.main__header-category {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
}

.main__content {
  margin-top: 48px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 24px;
}

.main__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 520px;
}

.main__item-top {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.main__item-img {
  width: 300px;
  height: auto;
}

.main__item-title {
  color: #000;
  font-size: 20px;
  font-weight: 450;
}

.main__item-description {
  color: #828282;
  font-size: 16px;
}

.main__item-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 0;
}

.main__item-price {
  color: #000;
  font-size: 16px;
  font-weight: 450;
}

.main__item-btn {
  background-color: rgb(255, 240, 230);
  color: rgb(209, 87, 0);
  width: 120px;
  height: 40px;
  border-radius: 1000px;
  font-size: 16px;
  font-weight: 500;
  border: none;
}

.modal {
  display: flex;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 1000;
  transition: all 0.3s ease;
}

.modal__content {
  width: 500px;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  position: relative;
}

.modal__close {
  position: absolute;
  top: 50%;
  right: 530px;
  cursor: pointer;
}

.modal__close img {
  width: 40px;
  height: 40px;
}

.modal-open {
  opacity: 1;
  visibility: visible;
}

html:has(.modal-open),
body:has(.modal-open) {
  overflow: hidden;
}

.info__goods {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px;
}

.modal__content--active {
  width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #efefef;
}

.order-box--top {
  width: 100%;
}

.title--price {
  padding: 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;

  h1 {
    font-size: 26px;
    color: #000;
  }

  p {
    font-size: 16px;
    color: #828282;
  }
}

.order__products {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
  height: 65vh;
  overflow-y: auto;
}

.order__box {
  padding: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200px;
  justify-content: space-between;
  position: relative;

  .order__close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    color: #000;
  }
}

.order__content-top {
  display: flex;
  gap: 30px;
  align-items: center;
  border-bottom: 1px solid #828282;

  .order__img {
    width: 100px;
  }

  .order__product {
    display: flex;
    flex-direction: column;
    gap: 16px;

    h2 {
      font-size: 18px;
    }

    p {
      font-size: 14px;
      margin-bottom: 10px;
    }
  }
}

.order__content-bttm {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .order__price {
    color: #000;
    font-size: 18px;
  }

  .order__count {
    display: flex;
    align-items: center;
    gap: 10px;

    .order__count-title {
      color: #ff6900;
      font-size: 16px;
    }

    .order__counter {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;
      gap: 10px;
      background: #f1f1f1;
      border-radius: 20px;
      width: 130px;
      height: 40px;

      .counter-btn {
        background-color: transparent;
        font-size: 20px;
        color: #717171;
      }

      p {
        font-size: 16px;
        color: #717171;
      }
    }
  }
}

.place__order {
  padding: 20px;

  background: #fff;
  width: 100%;

  .place__order--quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #828282;

    .order__quantity {
      font-size: 12px;
    }

    .quantity-cost {
      font-size: 12px;
    }
  }

  .place__order--amount {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .order__amount {
      font-size: 18px;
    }

    .order__amount-price {
      font-size: 18px;
    }
  }

  .order-button {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #ff6900;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 25px;
  }
}

.pagination {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;

  .back__pagination {
    background-color: transparent;
    border: #ff6900 solid 1px;
    padding: 5px 10px;
    border-radius: 50%;
    font-size: 24px;
  }

  .current-page {
    font-size: 16px;
  }
}
